<h2>イベントを作成する</h2>
<%= render 'form', event: @event %>

<h2>イベント一覧</h2>
<table>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, event_path(event) %></td>
      <td>（<%= event.description %>）</td>
      <td><%= link_to '削除', event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete?" }%></td>
    </tr>
  <% end %>
</table>
